h1 {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 32px;
}
a {
  text-decoration: none;
  font-size: 18px;
}

.home,
.cars,
.update-page,
.add-page {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.home .subtitle {
  padding-top: 0px;
  text-align: center;
  font-size: 18px;
}

.cars .add-button-wrapper,
.motorcycles .add-button-wrapper {
  text-align: center;
  margin-bottom: 16px;
}

.cars .add-button-wrapper button,
.motorcycles .add-button-wrapper button {
  width: 144px;
}

.display-tile {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-bottom: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.display-tile img {
  height: 200px;
  width: auto;
}
.display-tile p,
img {
  margin-bottom: 8px;
}
.display-tile:hover {
  background-color: #f0f0f0;
}
.display-tile .last-p {
  margin-bottom: 20px;
}

.modal {
  display: block !important;
}
